.centered {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, 10%);*/
    color: white;
    /*font-size: 4rem;*/
    width: 100%;
    margin-top: -15%;

    /*text-shadow: -1px 0 #afa2a2, 0 1px #afa2a2, 1px 0 #afa2a2, 0 -1px #afa2a2;*/
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e3e8e8;
    color: #0d5baa;

}

/* The navigation bar */
.navbar {
    position: fixed;
    overflow: hidden;
    z-index: 100;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.2);
}

.res {
    color: #0d5baa;
}
.fa {
    padding: 10px;
    font-size: 24px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}

.sideitem {
    list-style-type: none;
}